<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Vitrine World class image and art gallery</title>
  </head>

  <body>
    <div class="header">
      <img src="{{ art_image }}" alt="header-img" />
      <nav>
        <span class="nav-title">Vitrine</span>
      </nav>
      <div class="nav-center">
        <h1>World class image and art gallery.</h1>
        <div class="input">
          <input type="text" placeholder="Search" />
          <button class="ripple-btn" style="border-radius: 50px">
            <i class="material-icons"> search </i>
          </button>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="grid">
        {% for col in images %}
        <div class="col-grid">
          {% for image in col %}
          <div class="art-content">
            <img
              src="{{ image['urls']['small'] }}"
              alt="img"
              id="{{ image['id'] }}"
            />
            <div class="text-content">
              <h2>{{ image.user.name }}</h2>
              {% if image.alt_description %}
              <p>{{ image.alt_description }}</p>
              {% elif image.discription%}
              <p>{{ image.discription }}</p>
              {% else %}
              <p>This image don't have discryption</p>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
