@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Serif", serif;
}

/* Header Img */
div.header {
  width: 100%;
  height: 50vh;
}

div.header > img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(65%);
}

/* Navbar */
nav {
  z-index: 1;
  padding: 10px;
}

nav > span.nav-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: ghostwhite;
}

div.nav-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 24vh;
  justify-content: space-around;
}

div.nav-center > div.input {
  background-color: ghostwhite;
}

div.input > button > i {
  color: white;
}

div.input > button {
  background-color: #2e2a38;
  width: 15%;
  cursor: pointer;
}

div.input > * {
  border: none;
  padding: 5px;
  border-radius: 50px;
}

div.input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 40vw;
  box-shadow: 0px 4px 47px 8px rgba(0, 0, 0, 0.71);
}

div.input > input {
  background-color: ghostwhite;
  outline: none;
  width: 85%;
  font-family: "Comfortaa", cursive;
}

h1 {
  color: ghostwhite;
  font-size: 3vw;
}

button.ripple-btn {
  background-color: transparent;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button.ripple-btn > span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.589);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
    display: none;
  }
}
